/* Desktop */
@media only screen and (min-width: 1000px) {
    .banner {
      width: 400px;
    }
  
    .title-container {
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
    }
  
    .title {
      font-size: 30px;
    }
  
    h3 {
      font-size: 15px;
    }
  
    .container {
      display: flex;
      flex-direction: column-reverse;
    }
  
    .overflow {
      display: flex;
      justify-content: center;
    }
  
    .main {
      width: 50%;
      margin: 0 50px;
    }
  
    .info {
      width: 150px;
    }
  
    .display {
      display: flex;
    }
  
    .main-list {
      width: 35%;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    }
  
    /* Transisi Nama Karakter */
    .translate {
      transform: translateX(-60px);
    }
  
    .path {
      left: 470px;
    }
  
    .element {
      right: -65px;
    }
  
    /* Transisi Krakter */
    .charaTranslate {
      transform: translateX(-50px);
    }
  
    .list-banner {
      width: 50%;
      margin: 15px 10px 0 10px;
      align-self: center;
      justify-content: center;
    }
  
    .detail {
      display: flex;
      justify-content: center;
    }
  
    details {
      width: 50%;
      margin-bottom: 50px;
    }
  }