/* Tablet */
@media only screen and (min-width: 512px) and (max-width: 999px) {
    .banner {
        width: 300px;
      }
    
      .title-container {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
      }
    
      .title {
        font-size: 30px;
      }
    
      h3 {
        font-size: 15px;
        width: max-content;
      }
    
      .container {
        display: flex;
        flex-direction: column-reverse;
      }
    
      .overflow {
        display: flex;
        justify-content: center;
      }
    
      .main {
        width: 80%;
        height: max-content;
        margin: 0 50px;
      }
    
      .info {
        width: 160px;
      }
  
      .main-list .event, .main-list .event-2 {
        font-size: 23px;
      }
    
      .display {
        display: flex;
      }
    
      .main-list {
        width: 45%;
        padding-left: 20px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
      }
  
      button {
        margin-top: 6px;
        font-size: 110%;
      }
    
      /* Transisi Nama Karakter */
      .translate {
        transform: translateX(-210px);
      }
    
      .path {
        left: 320px;
      }
    
      .element {
        right: 85px;
      }
    
      /* Transisi Krakter */
      .charaTranslate {
        transform: translateX(-200px);
      }
    
      .list-banner {
        width: 80%;
        margin: 15px 10px 0 10px;
        align-self: center;
        justify-content: center;
      }
    
      .detail {
        display: flex;
        justify-content: center;
      }
    
      details {
        width: 80%;
        font-size: 110%;
        margin-bottom: 50px;
      }
  }